<a href="https://colab.research.google.com/github/hengoe/DataProcessingInPython_Midterm/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import requests
import time
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
from time import sleep

# Part 1 - API requests

## Exercise 1

In [119]:
url = "https://ies-midterm.soulution.rocks/login/"
params = '{"cuni": "19560968"}'

# use payload of JSON type string ‘{"cuni":"yourCUNInumber"}’ to authenticate
r = requests.post(url = url, data = params)
dataFromLogin = r.json()

# print the personal_code you find in the response,
print("My personal code is: " + dataFromLogin['data']['personal_code'])

# save the list of codes for this is your generated dataset
listOfCodes = dataFromLogin['data']['dataset_ids']

My personal code is: fefc72e8

## Exercise 2

In [ ]:
# for each of the codes you received from /login, send a GET to 
# /data/{data_code} to receive a part of the dataset

In [120]:
lcompanies = []
ldata = []

for data_code in listOfCodes:
  print("Getting data for data_code: " + data_code)
  
  url = "https://ies-midterm.soulution.rocks/data/" + data_code
  params = '{"cuni": "19560968"}'

  # use payload of JSON type string ‘{"cuni":"yourCUNInumber"}’ to authenticate
  r = requests.get(url = url, params = params)
  res = json.loads(r.text)

  # handle error:
  while (not res['data']): # empty dict? try again :)
    r = requests.get(url = url, params = params)
    res = json.loads(r.text)
    print("Got an error while getting the data. Trying again!")

  company = res['data']['company']
  data = pd.DataFrame(res['data']['data'])

  lcompanies.append(company)
  ldata.append(data)

  print("Successfully got data for data_code: " + data_code)
  print("---------------------------------------------------")
  sleep(0.2)

Getting data for data_code: 3e8641892a
Successfully got data for data_code: 3e8641892a
---------------------------------------------------
Getting data for data_code: 8f8c9919a6
Successfully got data for data_code: 8f8c9919a6
---------------------------------------------------
Getting data for data_code: 5df3513c79
Successfully got data for data_code: 5df3513c79
---------------------------------------------------
Getting data for data_code: 24f88cb68c
Got an error while getting the data. Trying again!
Successfully got data for data_code: 24f88cb68c
---------------------------------------------------
Getting data for data_code: 81395feb08
Got an error while getting the data. Trying again!
Got an error while getting the data. Trying again!
Successfully got data for data_code: 81395feb08
---------------------------------------------------

# Part 2 - Data analysis

In [122]:
lcompanies

['BHP', 'HIK', 'SLA', 'PSN', 'CCH']

In [125]:
ldata

[           Date                Open  ...           Adj.Close   Volume
 0    2019-01-02   46.63999938964844  ...  41.490047454833984  2003600
 1    2019-01-03               47.25  ...    40.2156982421875  3951500
 2    2019-01-04   48.02000045776367  ...   42.66904067993164  3996400
 3    2019-01-07  49.369998931884766  ...  42.894432067871094  3078700
 4    2019-01-08   49.70000076293945  ...  42.764400482177734  2907600
 ..          ...                 ...  ...                 ...      ...
 474  2020-11-17  53.540000915527344  ...   53.72999954223633  2305700
 475  2020-11-18  53.939998626708984  ...   53.33000183105469  1642600
 476  2020-11-19   52.88999938964844  ...   53.08000183105469  1469300
 477  2020-11-20  53.560001373291016  ...   53.70000076293945  1215400
 478                             NaN  ...                 NaN      NaN

 [479 rows x 7 columns],
            Date                Open  ...           Adj.Close Volume
 0    2019-01-02  10.229999542236328  ...  10.229999542236328      0
 1    2019-01-03  10.229999542236328  ...  10.229999542236328      0
 2    2019-01-07  10.229999542236328  ...  10.229999542236328      0
 3    2019-01-08  10.229999542236328  ...  10.229999542236328      0
 4    2019-01-09  10.229999542236328  ...  10.229999542236328      0
 ..          ...                 ...  ...                 ...    ...
 376  2020-11-16  10.229999542236328  ...  10.229999542236328      0
 377  2020-11-17  10.229999542236328  ...  10.229999542236328      0
 378  2020-11-18  10.229999542236328  ...  10.229999542236328      0
 379  2020-11-19  10.229999542236328  ...  10.229999542236328      0
 380                             NaN  ...                 NaN    NaN

 [381 rows x 7 columns],
            Date                Open  ...           Adj.Close Volume
 0    2019-01-02   77.48999786376953  ...   77.48999786376953  20000
 1    2019-01-03   77.48999786376953  ...   77.48999786376953      0
 2    2019-01-04   77.48999786376953  ...   77.48999786376953      0
 3    2019-01-07    81.2699966430664  ...    81.2699966430664  35050
 4    2019-01-08    81.2699966430664  ...    81.2699966430664      0
 ..          ...                 ...  ...                 ...    ...
 177  2020-04-24   56.18000030517578  ...   56.18000030517578  26992
 178  2020-04-27   56.18000030517578  ...   56.18000030517578      0
 179  2020-04-28   57.40999984741211  ...   57.40999984741211  35618
 180  2020-04-29  59.880001068115234  ...  59.880001068115234   7495
 181                             NaN  ...                 NaN    NaN

 [182 rows x 7 columns],
            Date                Open  ...           Adj.Close    Volume
 0    2019-05-08  30.649999618530273  ...   30.06999969482422  14793400
 1    2019-05-09  29.639999389648438  ...  30.100000381469727   1719300
 2    2019-05-10  29.889999389648438  ...  31.010000228881836    739700
 3    2019-05-13  30.290000915527344  ...  31.059999465942383   1040700
 4    2019-05-14  31.100000381469727  ...               31.75   2409100
 ..          ...                 ...  ...                 ...       ...
 387  2020-11-17   33.68000030517578  ...   33.68000030517578    270000
 388  2020-11-18   33.90999984741211  ...  32.790000915527344    282600
 389  2020-11-19   32.61000061035156  ...  32.220001220703125    661600
 390  2020-11-20   32.06999969482422  ...               31.75    347700
 391                             NaN  ...                 NaN       NaN

 [392 rows x 7 columns],
            Date                Open  ...           Adj.Close   Volume
 0    2019-01-02   9.649999618530273  ...   9.623074531555176      500
 1    2019-01-03   9.630000114440918  ...   9.603131294250488     1700
 2    2019-01-04   9.640000343322754  ...   9.613102912902832     1500
 3    2019-01-07   9.640000343322754  ...   9.613102912902832     1000
 4    2019-01-08   9.630000114440918  ...   9.603131294250488   186600
 ..          ...                 ...  ...                 ...      ...
 474  2020-11-17  18.920000076293945  ...    18.6200008392334   491872
 475  2020-11-18  18.950000762939453  ...   18.81999969482422   756785
 476  2020-11-19  18.850000381469727  ...  19.100000381469727   725184
 477  2020-11-20  19.290000915527344  ...  19.389999389648438  1020227
 478                             NaN  ...                 NaN      NaN

 [479 rows x 7 columns]]

In [124]:
df = pd.concat(ldata)
df.head()

         Date                Open  ...           Adj.Close   Volume
0  2019-01-02   46.63999938964844  ...  41.490047454833984  2003600
1  2019-01-03               47.25  ...    40.2156982421875  3951500
2  2019-01-04   48.02000045776367  ...   42.66904067993164  3996400
3  2019-01-07  49.369998931884766  ...  42.894432067871094  3078700
4  2019-01-08   49.70000076293945  ...  42.764400482177734  2907600

[5 rows x 7 columns]