<a href="https://colab.research.google.com/github/hengoe/DataProcessingInPython_Midterm/blob/main/Midterm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import requests
import time
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
from time import sleep

# Part 1 - API requests

## Exercise 1

In [143]:
url = "https://ies-midterm.soulution.rocks/login/"
params = '{"cuni": "19560968"}'

# use payload of JSON type string ‘{"cuni":"yourCUNInumber"}’ to authenticate
r = requests.post(url = url, data = params)
dataFromLogin = r.json()

# print the personal_code you find in the response,
print("My personal code is: " + dataFromLogin['data']['personal_code'])

# save the list of codes for this is your generated dataset
listOfCodes = dataFromLogin['data']['dataset_ids']

My personal code is: fefc72e8

## Exercise 2

In [ ]:
# for each of the codes you received from /login, send a GET to 
# /data/{data_code} to receive a part of the dataset

In [144]:
lcompanies = []
ldata = []

for data_code in listOfCodes:
  print("Getting data for data_code: " + data_code)
  
  url = "https://ies-midterm.soulution.rocks/data/" + data_code
  params = '{"cuni": "19560968"}'

  # use payload of JSON type string ‘{"cuni":"yourCUNInumber"}’ to authenticate
  r = requests.get(url = url, params = params)
  res = json.loads(r.text)

  # handle error:
  while (not res['data']): # empty dict? try again :)
    r = requests.get(url = url, params = params)
    res = json.loads(r.text)
    print("Got an error while getting the data. Trying again!")

  company = res['data']['company']
  data = pd.DataFrame(res['data']['data'])

  lcompanies.append(company)
  ldata.append(data)

  print("Successfully got data for data_code: " + data_code)
  print("---------------------------------------------------")
  sleep(0.2)

Getting data for data_code: 3e8641892a
Successfully got data for data_code: 3e8641892a
---------------------------------------------------
Getting data for data_code: 8f8c9919a6
Successfully got data for data_code: 8f8c9919a6
---------------------------------------------------
Getting data for data_code: 5df3513c79
Got an error while getting the data. Trying again!
Successfully got data for data_code: 5df3513c79
---------------------------------------------------
Getting data for data_code: 24f88cb68c
Got an error while getting the data. Trying again!
Successfully got data for data_code: 24f88cb68c
---------------------------------------------------
Getting data for data_code: 81395feb08
Successfully got data for data_code: 81395feb08
---------------------------------------------------

# Part 2 - Data analysis

In [122]:
lcompanies

['BHP', 'HIK', 'SLA', 'PSN', 'CCH']

In [145]:
temp = ldata.copy()

In [178]:
l = []
i = 0
for company in lcompanies:
  df = temp[i].set_index('Date')
  df['Company'] = [company]*df.shape[0]
  
  l.append(df)
  i += 1

data = pd.concat(l).reset_index().set_index(['Company','Date'])

In [179]:
data

                                  Open  ...   Volume
Company Date                            ...
BHP     2019-01-02   46.63999938964844  ...  2003600
        2019-01-03               47.25  ...  3951500
        2019-01-04   48.02000045776367  ...  3996400
        2019-01-07  49.369998931884766  ...  3078700
        2019-01-08   49.70000076293945  ...  2907600
...                                ...  ...      ...
CCH     2020-11-17  18.920000076293945  ...   491872
        2020-11-18  18.950000762939453  ...   756785
        2020-11-19  18.850000381469727  ...   725184
        2020-11-20  19.290000915527344  ...  1020227
                                   NaN  ...      NaN

[1913 rows x 6 columns]

In [203]:
 list(pd.Series(data.index.get_level_values(level=1)).unique())

['2019-01-02',
 '2019-01-03',
 '2019-01-04',
 '2019-01-07',
 '2019-01-08',
 '2019-01-09',
 '2019-01-10',
 '2019-01-11',
 '2019-01-14',
 '2019-01-15',
 '2019-01-16',
 '2019-01-17',
 '2019-01-18',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-04',
 '2019-02-05',
 '2019-02-06',
 '2019-02-07',
 '2019-02-08',
 '2019-02-11',
 '2019-02-12',
 '2019-02-13',
 '2019-02-14',
 '2019-02-15',
 '2019-02-19',
 '2019-02-20',
 '2019-02-21',
 '2019-02-22',
 '2019-02-25',
 '2019-02-26',
 '2019-02-27',
 '2019-02-28',
 '2019-03-01',
 '2019-03-04',
 '2019-03-05',
 '2019-03-06',
 '2019-03-07',
 '2019-03-08',
 '2019-03-11',
 '2019-03-12',
 '2019-03-13',
 '2019-03-14',
 '2019-03-15',
 '2019-03-18',
 '2019-03-19',
 '2019-03-20',
 '2019-03-21',
 '2019-03-22',
 '2019-03-25',
 '2019-03-26',
 '2019-03-27',
 '2019-03-28',
 '2019-03-29',
 '2019-04-01',
 '2019-04-02',
 '2019-04-03',
 '2019-04-04',
 '2019-04-05',
 '2019-04-08',
 '2019-04-09',
 '2019-04-10',
 '2019-04-11',
 '2019-04-12',
 '2019-04-15',
 '2019-04-16',
 '2019-04-17',
 '2019-04-18',
 '2019-04-22',
 '2019-04-23',
 '2019-04-24',
 '2019-04-25',
 '2019-04-26',
 '2019-04-29',
 '2019-04-30',
 '2019-05-01',
 '2019-05-02',
 '2019-05-03',
 '2019-05-06',
 '2019-05-07',
 '2019-05-08',
 '2019-05-09',
 '2019-05-10',
 '2019-05-13',
 '2019-05-14',
 '2019-05-15',
 '2019-05-16',
 '2019-05-17',
 '2019-05-20',
 '2019-05-21',
 '2019-05-22',
 '2019-05-23',
 '2019-05-24',
 '2019-05-28',
 '2019-05-29',
 '2019-05-30',
 '2019-05-31',
 '2019-06-03',
 '2019-06-04',
 '2019-06-05',
 '2019-06-06',
 '2019-06-07',
 '2019-06-10',
 '2019-06-11',
 '2019-06-12',
 '2019-06-13',
 '2019-06-14',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-07-01',
 '2019-07-02',
 '2019-07-03',
 '2019-07-05',
 '2019-07-08',
 '2019-07-09',
 '2019-07-10',
 '2019-07-11',
 '2019-07-12',
 '2019-07-15',
 '2019-07-16',
 '2019-07-17',
 '2019-07-18',
 '2019-07-19',
 '2019-07-22',
 '2019-07-23',
 '2019-07-24',
 '2019-07-25',
 '2019-07-26',
 '2019-07-29',
 '2019-07-30',
 '2019-07-31',
 '2019-08-01',
 '2019-08-02',
 '2019-08-05',
 '2019-08-06',
 '2019-08-07',
 '2019-08-08',
 '2019-08-09',
 '2019-08-12',
 '2019-08-13',
 '2019-08-14',
 '2019-08-15',
 '2019-08-16',
 '2019-08-19',
 '2019-08-20',
 '2019-08-21',
 '2019-08-22',
 '2019-08-23',
 '2019-08-26',
 '2019-08-27',
 '2019-08-28',
 '2019-08-29',
 '2019-08-30',
 '2019-09-03',
 '2019-09-04',
 '2019-09-05',
 '2019-09-06',
 '2019-09-09',
 '2019-09-10',
 '2019-09-11',
 '2019-09-12',
 '2019-09-13',
 '2019-09-16',
 '2019-09-17',
 '2019-09-18',
 '2019-09-19',
 '2019-09-20',
 '2019-09-23',
 '2019-09-24',
 '2019-09-25',
 '2019-09-26',
 '2019-09-27',
 '2019-09-30',
 '2019-10-01',
 '2019-10-02',
 '2019-10-03',
 '2019-10-04',
 '2019-10-07',
 '2019-10-08',
 '2019-10-09',
 '2019-10-10',
 '2019-10-11',
 '2019-10-14',
 '2019-10-15',
 '2019-10-16',
 '2019-10-17',
 '2019-10-18',
 '2019-10-21',
 '2019-10-22',
 '2019-10-23',
 '2019-10-24',
 '2019-10-25',
 '2019-10-28',
 '2019-10-29',
 '2019-10-30',
 '2019-10-31',
 '2019-11-01',
 '2019-11-04',
 '2019-11-05',
 '2019-11-06',
 '2019-11-07',
 '2019-11-08',
 '2019-11-11',
 '2019-11-12',
 '2019-11-13',
 '2019-11-14',
 '2019-11-15',
 '2019-11-18',
 '2019-11-19',
 '2019-11-20',
 '2019-11-21',
 '2019-11-22',
 '2019-11-25',
 '2019-11-26',
 '2019-11-27',
 '2019-11-29',
 '2019-12-02',
 '2019-12-03',
 '2019-12-04',
 '2019-12-05',
 '2019-12-06',
 '2019-12-09',
 '2019-12-10',
 '2019-12-11',
 '2019-12-12',
 '2019-12-13',
 '2019-12-16',
 '2019-12-17',
 '2019-12-18',
 '2019-12-19',
 '2019-12-20',
 '2019-12-23',
 '2019-12-24',
 '2019-12-26',
 '2019-12-27',
 '2019-12-30',
 '2019-12-31',
 '2020-01-02',
 '2020-01-03',
 '2020-01-06',
 '2020-01-07',
 '2020-01-08',
 '2020-01-09',
 '2020-01-10',
 '2020-01-13',
 '2020-01-14',
 '2020-01-15',
 '2020-01-16',
 '2020-01-17',
 '2020-01-21',
 '2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-13',
 '2020-04-14',
 '2020-04-15',
 '2020-04-16',
 '2020-04-17',
 '2020-04-20',
 '2020-04-21',
 '2020-04-22',
 '2020-04-23',
 '2020-04-24',
 '2020-04-27',
 '2020-04-28',
 '2020-04-29',
 '2020-04-30',
 '2020-05-01',
 '2020-05-04',
 '2020-05-05',
 '2020-05-06',
 '2020-05-07',
 '2020-05-08',
 '2020-05-11',
 '2020-05-12',
 '2020-05-13',
 '2020-05-14',
 '2020-05-15',
 '2020-05-18',
 '2020-05-19',
 '2020-05-20',
 '2020-05-21',
 '2020-05-22',
 '2020-05-26',
 '2020-05-27',
 '2020-05-28',
 '2020-05-29',
 '2020-06-01',
 '2020-06-02',
 '2020-06-03',
 '2020-06-04',
 '2020-06-05',
 '2020-06-08',
 '2020-06-09',
 '2020-06-10',
 '2020-06-11',
 '2020-06-12',
 '2020-06-15',
 '2020-06-16',
 '2020-06-17',
 '2020-06-18',
 '2020-06-19',
 '2020-06-22',
 '2020-06-23',
 '2020-06-24',
 '2020-06-25',
 '2020-06-26',
 '2020-06-29',
 '2020-06-30',
 '2020-07-01',
 '2020-07-02',
 '2020-07-06',
 '2020-07-07',
 '2020-07-08',
 '2020-07-09',
 '2020-07-10',
 '2020-07-13',
 '2020-07-14',
 '2020-07-15',
 '2020-07-16',
 '2020-07-17',
 '2020-07-20',
 '2020-07-21',
 '2020-07-22',
 '2020-07-23',
 '2020-07-24',
 '2020-07-27',
 '2020-07-28',
 '2020-07-29',
 '2020-07-30',
 '2020-07-31',
 '2020-08-03',
 '2020-08-04',
 '2020-08-05',
 '2020-08-06',
 '2020-08-07',
 '2020-08-10',
 '2020-08-11',
 '2020-08-12',
 '2020-08-13',
 '2020-08-14',
 '2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28',
 '2020-08-31',
 '2020-09-01',
 '2020-09-02',
 '2020-09-03',
 '2020-09-04',
 '2020-09-08',
 '2020-09-09',
 '2020-09-10',
 '2020-09-11',
 '2020-09-14',
 '2020-09-15',
 '2020-09-16',
 '2020-09-17',
 '2020-09-18',
 '2020-09-21',
 '2020-09-22',
 '2020-09-23',
 '2020-09-24',
 '2020-09-25',
 '2020-09-28',
 '2020-09-29',
 '2020-09-30',
 '2020-10-01',
 '2020-10-02',
 '2020-10-05',
 '2020-10-06',
 '2020-10-07',
 '2020-10-08',
 '2020-10-09',
 '2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-05',
 '2020-11-06',
 '2020-11-09',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '']

In [164]:
colnames = list(data.columns)
colnames

['Open', 'High', 'Low', 'Close', 'Adj.Close', 'Volume', 'Company']

In [204]:
#- the time series should be from 2019-01-02 to 2020-11-20. Is it the case in your sample?
desired = list(pd.Series(data.index.get_level_values(level=1)).unique())
for company in lcompanies:
  if desired == list(data.loc[company].index):
    print("For "+ company + " it is fulfilled!")
  else:
    print("For "+ company + " it is not fulfilled!")

For BHPit is fulfilled!
For HIKit is not fulfilled!
For SLAit is not fulfilled!
For PSNit is not fulfilled!
For CCHit is fulfilled!

In [ ]:
#- what is the highest and lowest Adj Close price the company recorded?
for company in lcompanies:
  temp =

In [ ]:
#- what day was the highest number of shares traded

In [ ]:
#- what is the total of shares traded

In [ ]:
#- for the company with the highest volume of shares traded over the whole period, plot their share price over time

In [ ]:
#- when did the company record the highest gain and highest loss for the day? (logarithmic loss)

In [ ]:
#- plot the log returns for the company that has the largest difference between opening and closing price. What day and what company did it occur at?

In [ ]:
#- find monthly returns. Which company has the highest recorded?

In [ ]:
#- for stocks with full time series, calculate 10day volatility by calculating the standard
#deviation of the previous 10 days. (i.e. 10th day is the first observation and it includes
#given day)

In [ ]:
#- create a single object with Adjusted Close prices, plot them together in one time series
#plot